* {
  font-family: "Lato", sans-serif;
  color: white;
}

html {
  background-color: #1a0030;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Otomanopee One', sans-serif; */