.pack {
  padding-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.vote-block {
  display: flex;
}

.current-name {
  font-size: 64px;
  text-align: center;
  min-width: 350px;
}

.up-paw,
.down-paw {
  color: white;
  height: 200px;
  width: 200px;
  cursor: pointer;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.down-paw {
  margin-top: 2em;
}

.up-paw:hover,
.down-paw:hover {
  -webkit-filter: drop-shadow(10px 10px 5px rgba(0, 225, 42, 0.5));
  filter: drop-shadow(10px 10px 5px rgba(0, 255, 42, 0.5));
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.down-paw:hover {
  -webkit-filter: drop-shadow(10px 10px 5px rgba(255, 0, 0, 0.5));
  filter: drop-shadow(10px 10px 5px rgba(255, 0, 0, 0.5));
}

.up-paw:active,
.down-paw:active {
  transform: scale(1);
}

.voting-finished {
  font-size: 48px;
}

@media screen and (max-width: 1000px) {
  .current-name {
    font-size: 48px;
    min-width: 250px;
  }
  
  .up-paw,
  .down-paw {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .current-name {
    font-size: 36px;
    min-width: 180px;
  }
  
  .up-paw,
  .down-paw {
    height: 100px;
    width: 100px;
  }
}