span {
  display: block;
  width: 33px;
  height: 4px;
  padding: .5em;
  border-color: #000000;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding-bottom: .5rem;
  border-bottom: 2px solid white;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 5rem;
}

.header-title {
  margin: 0;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 2.5rem;
}

.hamburger-menu {
  width: 1.5em;
  height: 1.5em;
  padding: 1.5em;
  text-align: center;
}

.button-container {
  display: flex;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.view-liked-button,
.login-button {
  border-radius: 6px;
  background-color: #00CC99;
  width: 10em;
  height: 4em;
  font-size: .9em;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .hamburger-menu {
    display: none;
  }
}