span {
  display: block;
  width: 33px;
  height: 4px;
  padding: 0.5em;
  border-color: #000000;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid white;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 5rem;
}

.header-title {
  margin: 0;
  font-family: "Otomanopee One", sans-serif;
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  color: white;
  overflow: hidden;
  background: linear-gradient(to right, #57c8cd, #e686ee 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.header-title:hover {
  background-position: 0 100%;
}

.hamburger-menu {
  width: 1.5em;
  height: 1.5em;
  padding: 1.5em;
  text-align: center;
}

.button-container {
  display: flex;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.view-liked-button,
.login-button {
  border-radius: 6px;
  background-color: #3fb2b3;
  width: 10em;
  height: 4em;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
}

.view-liked-button:hover,
.login-button:hover {
  background-color: #1f5859;
}

@media screen and (max-width: 1000px) {
  header {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 700px) {
  .header-title {
    font-size: 1.5rem;
  }

  .logo {
    height: 4rem;
  }

  .view-liked-button,
  .login-button {
    font-size: 0.7em;
  }

  .button-container {
    top: 1.5rem;
    right: 1rem;
  }

  @media screen and (max-width: 520px) {
    .header-title {
      display: none;
    }
  }
}
