.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-button {
  border-radius: 6px;
  background-color: #00CC99;
  color: #faf5f5;
  width: 12em;
  height: 5em;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1em;
}

.error-img {
  width: 40%;
}